<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnojoASk2rjPvfj_gfMEamv37bn1aidYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>420496606770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>doctor-a50da</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-a50da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420496606770:ios:fe8e71fd5b03283f059e2b</string>
</dict>
</plist>